<ion-header>
  <ion-toolbar>
    <ion-title>
      Introduction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://i.ibb.co/4JmmM96/20190612.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>About Me</ion-card-subtitle>
        <ion-card-title>Eun Kyo Jo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Hi! My name is Eun Kyo, and you can call me Euna. My GitHub username is @eunkyojo. I study cognitive science at UC Berkeley and in my free time I enjoy music and basketball.</p>
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://i.ibb.co/4JmmM96/20190612.png">
      </ion-avatar>
      <ion-label>Eun Kyo Jo</ion-label>
    </ion-item>

</ion-content>